.aboutHeader {
  margin: -2.8rem auto 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
  padding: 1rem;
  border: 1px solid #eee;
}

.aboutFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutBody {
  line-height: 2rem;
  transition: all ease 200ms;
}

.aboutBody > a {
  text-decoration: none;
  color: #468499;
  transition: all ease 200ms;

  &:hover {
    color: #eee;
  }
}

.aboutImgDiv {
  padding-top: 5px;
<<<<<<< HEAD
=======
  // width: 500px;
>>>>>>> c2464d147264cf33ca9f24e60877eb85dd34538c
}

.aboutImage {
  width: 350px;
  margin-left: 2.5rem;
  -webkit-box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.67);
  box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.67);
  transition: all ease 200ms;
}

@media (max-width: 900px) {
  .aboutImage {
    width: 280px;
  }

  .aboutBody {
    font-size: 1.05rem;
  }
}

@media (max-width: 650px) {
  .aboutFlexContainer {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .aboutImage {
    width: 280px;
    margin: 0 auto 1.3rem;
  }

  .aboutBody {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .aboutHeader {
    font-size: 1rem;
  }
}
