@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

header {
  margin-bottom: 4rem;
}

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: center;
}

header h1 {
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  font-size: 2.7rem;
  margin-bottom: 0.5rem;
  line-height: 2.5rem;
}

.title-link {
  text-decoration: none;
  color: #eee;
  transition: all ease 200ms;

  &:hover {
    color: #fff;
  }
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-right: 0.5rem;
}

.nav-links {
  text-decoration: none;
  color: #eee;
  margin-left: 1.1rem;
  transition: all ease 200ms;
  font-size: 1.15rem;

  &:hover {
    color: #fff;
  }
}

.active {
  color: #468499;
}

.icons {
  width: 165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.2rem;
}

.icon {
  fill: #eee;
  font-size: 25px;
  transition: all ease 200ms;

  &:hover {
    transform: scale(1.1);
    fill: #468499;
  }
}

.rule {
  background-color: #eee;
  border-bottom: 1.5px solid;
  margin-top: 0.6rem;
}
