.workHeader {
  margin: -2.8rem auto 0.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
  padding: 1rem;
  border: 1px solid #eee;
}

@media (max-width: 420px) {
  .workHeader {
    font-size: 1rem;
  }
}
